h1 a, h1 a:visited, h1 a:hover {
    color: #ff9966;
    font-family: 'Beth Ellen', cursive;
    position: center;
}

h2 a, h2 a:visited, h2 a:hover {
    color: #33cccc;
    font-family: 'Lacquer', sans-serif;
}

body{
}

.page-header{
	background-color: #d6f5f5;
	margin: 0px;
	padding: 20px 20px 40px 40px; 
}

.post{
    padding-left: 20px;
    color:  #145252;
	font-family: 'Quicksand', sans-serif;
}


.post-footer{
	color: #ffaa80;
}